.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 36px;
}
.navLink{
    display: flex;
    align-items: center;
    gap: 24px;
}
.navLink a:hover{
    color: #2257DF;
}
.getStarted{
    padding: 12px 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    border-radius: 27px;
    background-color: #161C2D;
}

@media only screen and (max-width: 672px) {
    .navLink a{
        display: none;
    }
    .getStarted{
        display: none;
    }
}