.highlight{
    width: 380px;
}
.highlight .nama{
    border: 1px solid #9BA1B14D;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}
.highlight .title{
    width: 380px;
    margin-bottom: 12px;
    line-height: 32px;
}
.highlight .info{
    display: flex;
    align-items: center;
    margin-bottom:24px ;
    gap: 16px ;
}
.highlight .desc{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #4E5568;
}
@media only screen and (max-width:672px) {
    .highlight{
        width: 330px;
    }
    .highlight .title{
        width: 333px;
    }
    .highlight .info{
        justify-content: center;
    }
    
}