.descDestination{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.descDestination svg{
    font-size: 20px;
    margin: 0;    
}
.descDestination p{
    color: #4E5568;
    font-weight: 400;
}
@media only screen and (max-width: 672px) {
    .jumlah{
        font-size: 22px;
        font-weight: 700;
    }
    .descDestination{
        font-size: 16px;
    }
}